
<div class="container py-5 my-5">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between">
        <h1>Events</h1>
        <div>
          <%= link_to 'New Event', new_row_path, class: "btn btn-primary" %>
        </div>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="text-center">Date</th>
            <th class="text-center">Description</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @rows.each do |row| %>
            <tr id="tr_<%= row.id %>">
              <td class="text-center"><%= row.event_date.strftime("%m/%d/%Y") if row.event_date %></td>
              <td class="text-center"><%= row.description %></td>
              <td class="text-center">
                <%= link_to 'Show', row, class: "btn btn-secondary btn-sm" %>
                <%= link_to 'Edit', edit_row_path(row), class: "btn btn-warning btn-sm" %>
                <%= button_tag 'Delete', class: "btn btn-danger btn-sm", onclick: "removeItem(this)", id: "#{row.id}" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
  
</div>


